.tbody {
  align-items: center;
}

.popoverFooter {
  display: flex;
  justify-content: flex-end;
}

.popoverHeader {
  h1 {
    font-size: 20px;
    font-weight: 700;
  }
}

.popoverBody {
  p {
    font-size: 16px;
  }
}

.modalButton {
  margin: 1rem;
}

.modalContent {
  width: 30rem;
  background-color: white;
  border-radius: 0.5rem;
}

.modalHeader {
  background-color: #3182ce;
  color: white;
  padding: 1rem;
}

.modalCloseButton {
  color: white;
}

.modalBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.modalInput {
  margin-bottom: 1rem;
}

.modalFooter {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.modalSecondaryButton {
  color: #3182ce;
}

.tableContainer {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  background-color: #000F18;
}

.table {
  width: 100%;
  font-size: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ffffff;

  
  @media screen and (max-width: 600px) {
    padding-left: 0;
    padding-right: 0;
  }

  thead {
    background-color: #ffffff;
    tr {
      background-color: #ffffff;

      .adminAction {
        text-align: center;
      }
    }
  }

  th,
  td {
    background-color: #ffffff;
    padding: 0.5rem;
    text-align: left;
    font-size: 20px;
  }

  tr:nth-child(even) {
    background-color: #ffffff;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;

    th,
    td {
      padding: 0.3rem;
      background-color: #ffffff;
    }
  }
}

.crud__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  background-color: #ffffff;

  button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }

  .viewAdmin {
    background-color: rgb(35, 134, 167);

    &:hover {
      background-color: rgb(106, 208, 241);
    }
  }

  .editAdmin {
    background-color: rgb(255, 166, 0);

    &:hover {
      background-color: rgb(230, 230, 16);
    }
  }

  .deleteAdmin {
    background-color: rgb(255, 0, 0);

    &:hover {
      background-color: rgb(207, 74, 74);
    }
  }
}

.nav__titulo {
  width: 100%;
  background-color: #000F18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  @media screen and (max-width: 620px) {
    margin-left: 10rem;
  }

  @media screen and (max-width: 400px) {
    margin-left: 20rem;
  }

  .admin_icon {
    font-size: 66px;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  h1 {
    color: white;
    font-size: 36px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1040px) {
  .nav__titulo {
    display: flex;
    flex-direction: column;
    height: auto;

    .admin_icon {
      margin-bottom: 1rem;
    }

    h1 {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 330px) {
  .nav__titulo {
    h1 {
      font-size: 20px;
      text-align: center;
    }

    .nav__titulo_botao {
      width: 100%;

      .titulo__icons {
        display: none;
      }
    }
  }
}

.ul {
  color: black;
}