.tableContainer {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.table {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media screen and (max-width: 600px) {
    padding-left: 0;
    padding-right: 0;
  }

  thead {
    tr {
      .adminAction {
        text-align: center;
      }
    }
  }

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #e6e6e6;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;

    th,
    td {
      padding: 0.3rem;
    }
  }
}

.crud__box {
  display: flex;
  justify-content: space-around;

  button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }

  .viewAdmin {
    background-color: rgb(35, 134, 167);

    &:hover {
      background-color: rgb(106, 208, 241);
    }
  }

  .editAdmin {
    background-color: rgb(255, 166, 0);

    &:hover {
      background-color: rgb(230, 230, 16);
    }
  }

  .deleteAdmin {
    background-color: rgb(255, 0, 0);

    &:hover {
      background-color: rgb(207, 74, 74);
    }
  }
}


.nav__titulo {
  height: 126px;
  width: 100%;
  background-color: #000F18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  .admin_icon {
    font-size: 66px;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  h1 {
    color: white;
    font-size: 36px;
    font-weight: 600;
  }

  .nav__titulo_botao {
    width: 300px;
    height: 60px;
    background-color: rgb(38, 148, 38);
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &:hover {
      transform: scale(1.02);
    }
  }
}

@media screen and (max-width: 1040px) {
  .nav__titulo {
    display: flex;
    flex-direction: column;
    height: auto;

    .admin_icon {
      margin-bottom: 1rem;
    }

    h1 {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 330px) {
  .nav__titulo {
    h1 {
      font-size: 20px;
      text-align: center;
    }

    .nav__titulo_botao {
      width: 100%;

      .titulo__icons {
        display: none;
      }
    }
  }
}