.CategoriasApp {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 8rem;

    .CategoriasTop {
        width: 96.6%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 30px;
            color: white;
            width: 50%;
            font-weight: 400;

            @media (max-width: 700px) {
                font-size: 20px;
            }
        }
    }

    .arrowButtonsCategorias {
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 0.8rem;

        .prevButtonIconCategorias {
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 80%;
            margin-right: 0.55rem;
            user-select: none;

            &:hover {
                opacity: 100%;
            }
        }

        .nextButtonIconCategorias {
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 80%;
            user-select: none;

            &:hover {
                opacity: 100%;
            }
        }
    }

    .card {
        opacity: 75%;
        transition: 0.15s;

        &:hover {
            opacity: 100%;
        }

        .cardTop {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .CategoriasImg {
                cursor: pointer;
                width: 82%;
                height: 82%;
            }
        }

        .cardBottom {
            width: 82%;
            transform: translateY(-60px);

            p {
                font-size: 20px;
                text-align: center;
                color: white;
                padding: 20px;
                background-image: linear-gradient(to right, rgba(141, 3, 168, 0.5), rgba(163, 155, 146, 0.5));
            }
        }
    }
}