.tooltipApp {
    padding: 15px 15px 20px 15px;


    .tooltipName {

        p {
            font-size: 22px;
            color: black;
        }
    }

    .tooltipInfo {
        margin-top: -3px;
        display: flex;
        font-size: 12px;

        p {
            color: black;
        }
    }

    .tooltipDescription {
            margin-top: 0.4rem;
        p {
            color: black;
            font-size: 14px;
        }
    }

    .tooltipReviews {
        display: flex;
        flex-direction: column;
        background-color: rgba(75, 75, 75, 0.877);
        margin-top: 0.4rem;
        padding: 0 0 0 5px;
        border-radius: 3px;

        p {
            color: rgba(255, 255, 255, 0.767);
        }

        .reviewsInfo {
            display: flex;
            gap: 4px;
            color: white;
        }
    }

    .tooltipDevices {
        display: flex;
        gap: 5px;
        margin-top: 0.7rem;

        span {
            background-color: gray;
            padding: 8px;
            border-radius: 2px;
        }
    }

    .tooltipCategories {
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;

        p {
            color: black;
            font-size: 14px;
        }

        .categoriesValue {
            display: flex;
            gap: 5px;

            p {
                border-radius: 2px;
                background-color: rgb(126, 125, 125);
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                padding: 5px;
                font-size: 10px;
                color: white;
            }
        }
    }

    .tooltipFriends {
        margin-bottom: 0.2rem;
        margin-top: 0.4rem;

        p {
            color: black;
        }

        .friendsImage {
            display: flex;
            gap: 5px;

            .friendImage {
                border: solid gray 2px;
            }
        }
    }

    .tooltipFriendsReview {
        display: flex;
        align-items: center;
        margin-top: 0.4rem;
        gap: 5px;
        background-color: rgb(126, 125, 125);
        border-radius: 3px;

        div {
            padding: 5px;
            border-radius: 2px;

            .friendsReviewIcon {
                background-color: rgba(1, 1, 59, 0.644);
                color: #6f87c4;
                font-size: 22px;
            }
        }
        
        p {
            color: rgba(238, 238, 238, 0.836);
        }
    }
}