.imageGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 10rem;
    justify-content: center;
  }

  .indicatorsImage {
    display: flex;
    justify-content: center;
    margin-left: 1rem;

    .indicatorImage {
      border-radius: 20px;
      margin: 0 0.5rem;
      max-width: 190px;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .activeIndicatorImage {
      opacity: 20%;
    }
  }