.AtualizadosApp {
    width: 85%;
    margin: 0 auto;
    margin-top: 4rem;

    .AtualizadosTop {
        width: 97.55%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
            width: 90%;
        }

        div {
            display: flex;
            align-items: center;

            h1 {
                cursor: pointer;
            }

            &:hover {
                .AtualizadosTopIcon {
                    transform: scale(1.02);
                    transform: translateX(10px);
                }
            }

            .AtualizadosTopIcon {
                color: rgb(158, 158, 158);
                margin-left: 0.5rem;
                font-size: 20px;
                margin-top: 0.3rem;
                transition: transform 0.3s;
            }

            h1 {
                font-size: 30px;
                color: white;
                font-weight: 400;

                @media (max-width: 700px) {
                    font-size: 20px;
                }
            }
        }
    }

    .arrowButtonsAtualizados {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.8rem;
        cursor: default;

        .prevButtonIconAtualizados {
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 80%;
            margin-right: 0.55rem;
            user-select: none;

            &:hover {
                opacity: 100%;
            }
        }

        .nextButtonIconAtualizados {
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 80%;
            user-select: none;

            &:hover {
                opacity: 100%;
            }
        }
    }

    .cardAtualizados {
        .cardTop {
            margin-top: 1rem;

            .PopularesImg {
                width: 90%;
                height: 90%;
                margin: 0 auto;
                cursor: pointer;
                opacity: 85%;

                &:hover {
                    opacity: 100%;
                }
            }
        }

        .cardInfo {
            width: 90%;
            margin: 0 auto;
            color: rgba(245, 245, 245, 0.6);
            font-size: 15px;
            margin-top: 0.5rem;
            font-weight: 600;
            letter-spacing: 0.4px;
        }

        .gameInformation {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            height: 2rem;
            margin-bottom: 1.4rem;

            h1 {
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                font-weight: 600;
                font-size: 18px;
                letter-spacing: 0.8px;
                line-height: 20px;
                font-family: Inter, sans-serif;
                cursor: text;
                margin-top: 0.2rem;
            }
        }

        .cardMiddle {
            margin: 0 auto;
            width: 90%;
            display: flex;

            p {
                color: rgba(245, 245, 245, 0.6);
                line-height: 20px;
                letter-spacing: 0.2px;
                font-size: 16px;
                font-weight: normal;
                cursor: text;
            }
        }

        .detalhes {
            color: rgb(199, 196, 196);
            background: radial-gradient(circle, rgba(20, 35, 43, 1) 0%, rgba(17, 31, 37, 1) 100%);
            width: 90%;
            margin: 0 auto;

            p {
                cursor: pointer;
                padding: 5px;

                &:hover {
                    color: rgb(219, 219, 219);
                    background: radial-gradient(circle, rgb(33, 59, 73) 0%, rgb(19, 43, 53) 100%);
                }
            }
        }

        .mostPlayedPrice {
            width: 90%;
            margin: 0 auto;
            margin-top: 0.6rem;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 0.8rem;

            .discount {
                color: white;
                background-color: #6289EC;
                padding: 3px 12px 3px 12px;
                border-radius: 5px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .oldPrice {
                color: gray;
                text-decoration: line-through;
            }

            .newPrice {
                color: white;
            }
        }
    }
}