.carouselApp {
  width: 80%;
  height: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 2rem;
}

.carouselPaginationApp {
  height: 100%;
  max-height: 700px;
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.4rem;
  position: relative;
  
  .carouselPaginationImage {
    display: flex;
    padding: 10px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.075);
    }

    .paginationImg {
      width: 32%;
      margin-right: 10px;

      .paginationImage {
        width: 100%;
        border-radius: 6px;
      }
    }

    .paginationName {
      width: 68%;
      display: flex;
      align-items: center;

      p {
        color: white;
      }
    }
  }

  .carouselPaginationImageActive {
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 20px;
    cursor: pointer;
  }
}

.carousel {
  position: relative;
  width: 84%;
  height: 100%;
}

.carouselCard {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-30%, 0);
  transition: 0.5s ease-in-out;
}

.carouselCardActive {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.carouselImg {
  width: 100%;
  object-fit: cover;
}

.carouselInfo {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px;

  .carouselReleaseDate {
    margin-top: 1.5rem;
    width: 30%;

    p {
      font-size: 15px;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 700;
    }
  }

  .carouselItensInfo {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    width: 30%;

    p {
      font-size: 15px;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 700;
    }
  }

  .carouselLogoImg {
    width: 30%;
    margin-left: -10px;
  }

  .carouselDescription {
    width: 40%;
    margin-top: 0.2rem;
  }

  .carouselPrice {
    margin-top: 1.6rem;
    font-size: 18px;
    display: flex;
    gap: 7px;

    .carouselDiscount {
      display: flex;
      gap: 7px;

      .oldPrice {
        text-decoration: line-through;
        color: gray;
      }
    }
  }

  .carouselButtons {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.4rem;

    button {
      padding: 14px;
      border-radius: 5px;
      font-size: 16px;
    }

    .buttonPurchase {
      background-color: white;
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.822);
      }
    }

    .buttonWishlist {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-left: 0.6rem;
      color: white;
      transition: 0.45s;
      font-size: 18px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.459);
        transition: 0.45s;
      }

    }
  }

  p {
    color: white;
  }
}