.displayApp {
    width: 85%;
    margin: 0 auto;

    .displayGeneral {
        display: flex;
        align-items: center;
        background-color: black;
        margin-bottom: 1rem;
        padding: 10px;
      }
      
}