.AppDestaques {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 12rem;
  margin-top: 4rem;

  .DestaquesTop {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 30px;
      color: white;
      font-weight: 400;

      @media (max-width: 700px) {
        font-size: 20px;
      }
    }
  }

  .arrowButtonsDestaques {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-bottom: 0.8rem;

    .prevButtonIconDestaques {
      font-size: 30px;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      opacity: 80%;
      margin-right: 0.55rem;
      user-select: none;

      &:hover {
        opacity: 100%;
      }
    }

    .nextButtonIconDestaques {
      font-size: 30px;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      opacity: 80%;
      user-select: none;

      &:hover {
        opacity: 100%;
      }
    }
  }

  .card {

    .cardTopDestaques {
      margin-top: 1rem;

      .DestaquesImg {
        width: 90%;
        height: 90%;
        margin: 0 auto;
        cursor: pointer;
        border-radius: 20px;
        transition: 0.3s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 1);
          transform: scale(1.02);
        }
      }
    }

    .cardMiddleDestaques {
      display: flex;
      width: 90%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      p {
        color: white;
        font-size: 22px;
      }
    }

    .cardBottomDestaques {
      display: flex;
      width: 100%;
      align-items: center;
      margin-left: 1rem;
      padding: 5px;
      margin-top: 1rem;

      p {
        color: white;
        margin-right: 2.5rem;
      }

      .cardDiscountDestaques {
        color: white;
        background-color: #6289EC;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
      }

      .cardOldDestaques {
        color: gray;
        text-decoration: line-through;
      }
    }
  }


}