.CuriosidadesApp {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 5rem;

    @media screen and (max-width: 768px) {
        width: 90%;
    }

    .CuriosidadesBox {
        display: block;
        flex-direction: column;
        align-items: center;
        background-color: #111F25;
        box-shadow: 10px 10px 4px rgba(48, 119, 170, 0.25);
        padding: 30px;
        max-width: 100%;

        p {
            width: 80%;
            margin: 0 auto;
            margin-top: 2rem;
            color: white;
            font-size: 26px;

            @media screen and (max-width: 600px) {
                font-size: 14px;
                width: 100%;
            }

            @media screen and (max-width: 280px) {
                font-size: 12px;
            }
        }

        .CuriosidadesSocialMedia {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1.5rem;

            .CuriosidadesImage {
                margin-right: 1rem;

                @media screen and (max-width: 600px) {
                    width: 35px;
                    height: 35px;
                }

                @media screen and (max-width: 280px) {
                    width: 20px;
                    height: 20px;
                }
            }

            @media (min-width: 768px) {
                justify-content: center;
            }
        }
    }
}

