.AtualizadosApp {
    width: 85%;
    margin: 0 auto;
    margin-top: 3rem;

    @media screen and (max-width: 650px) {
        margin-top: 4.5rem;
    }

    .AtualizadosTop {
        width: 97.55%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
            width: 90%;
        }

        div {
            display: flex;
            align-items: center;

            h1 {
                cursor: pointer;
            }
            
            &:hover {
                .AtualizadosTopIcon {
                    transform: scale(1.02);
                    transform: translateX(10px);
                }
            }

            .AtualizadosTopIcon {
                color: rgb(158, 158, 158);
                margin-left: 0.5rem;
                font-size: 20px;
                margin-top: 0.3rem;
                transition: transform 0.3s;
            }

            h1 {
                font-size: 30px;
                color: white;
                font-weight: 400;

                @media (max-width: 700px) {
                    font-size: 20px;
                }
            }
        }
    }

    .arrowButtonsAtualizados {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.8rem;
        cursor: default;

        .prevButtonIconAtualizados {
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 80%;
            margin-right: 0.55rem;
            user-select: none;

            &:hover {
                opacity: 100%;
            }
        }

        .nextButtonIconAtualizados {
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 80%;
            user-select: none;

            &:hover {
                opacity: 100%;
            }
        }
    }

    .cardAtualizados {
        .cardTop {
            margin-top: 1rem;

            .PopularesImg {
                width: 90%;
                height: 90%;
                margin: 0 auto;
                cursor: pointer;
                opacity: 85%;

                &:hover {
                    opacity: 100%;
                }
            }
        }

        .cardBottom {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            cursor: default;

            div {
                border-bottom: solid rgb(0, 0, 0) 1px;
                background-color: rgb(78, 78, 78);
                cursor: pointer;
                color: rgb(255, 255, 255);
                padding: 1.5px;

                p {
                    font-size: 18px;

                    @media screen and (max-width: 1600px) {
                        font-size: 14px;
                    }

                    @media screen and (max-width: 900px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 18px;
                    }
                }

                &:hover {
                    background-color: rgb(131, 125, 125)
                }
            }

            @media screen and (max-width: 600px) {
                justify-content: left;
            }
        }

        .buttonCategories {
            color: white;
        }

        .cardInfo {
            width: 90%;
            margin: 0 auto;
            color: rgba(245, 245, 245, 0.6);
            font-size: 15px;
            margin-top: 0.5rem;
            font-weight: 600;
            letter-spacing: 0.4px;
        }

        .gameInformation {
            width: 90%;
            margin: 0 auto;
            display: flex;
            margin-bottom: 1rem;

            h1 {
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                font-weight: 600;
                font-size: 18px;
                letter-spacing: 0.8px;
                line-height: 20px;
                font-family: Inter, sans-serif;
                cursor: text;
                margin-top: 0.2rem;

                @media screen and (max-width: 1600px) {
                    font-size: 16px;
                }
            }

            p {
                text-transform: uppercase;
                color: rgb(155, 147, 147);
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 15px;
                font-family: Inter, sans-serif;
                cursor: text;
            }
        }

        .detalhes {
            color: rgb(46, 117, 250);
            width: 90%;
            margin: 0 auto;
            margin-top: 1rem;

            p {
                cursor: pointer;

                &:hover {
                    color: rgb(128, 169, 245);
                }
            }
        }

        .mostPlayedPrice {
            width: 90%;
            margin: 0 auto;
            margin-top: 0.6rem;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 0.8rem;

            .discount {
                color: white;
                background-color: #6289EC;
                padding: 3px 12px 3px 12px;
                border-radius: 5px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .oldPrice {
                color: gray;
                text-decoration: line-through;
            }

            .newPrice {
                color: white;
            }
        }
    }
}