.AppDestaques {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 8rem;
    margin-top: 2rem;
    background-color: rgb(0, 0, 0, 0.5);

    display: none;

    @media screen and (max-width: 650px) {
        display: block;
        margin-bottom: 4rem;
    }

    .DestaquesTop {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 900px) {
            width: 90%;
        }

        div {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 1rem;
            margin-top: 1rem;

            &:hover {

                .DestaquesTopIcon {
                    transform: scale(1.02);
                    transform: translateX(10px);

                }
            }

            .DestaquesTopIcon {
                color: rgb(158, 158, 158);
                margin-left: 0.5rem;
                font-size: 20px;
                margin-top: 0.3rem;
                transition: transform 0.3s;

                @media (max-width: 334px) {
                    display: none;
                }
            }

            h1 {
                font-size: 30px;
                color: white;
                font-weight: 400;

                @media (max-width: 700px) {
                    font-size: 20px;
                }
            }
        }
    }

    .arrowButtonsDestaques {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .prevButtonIconDestaques {
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 80%;
            margin-right: 0.55rem;
            user-select: none;

            &:hover {
                opacity: 100%;
            }

            @media (max-width: 700px) {
                font-size: 20px;
            }
        }

        .nextButtonIconDestaques {
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            opacity: 80%;
            user-select: none;

            &:hover {
                opacity: 100%;
            }

            @media (max-width: 700px) {
                font-size: 20px;
            }
        }
    }

    .card {

        .gameInformationDestaques {
            width: 90%;
            margin: 0 auto;
            display: flex;
            margin-top: 1.4rem;
            flex-direction: column;

            h5 {
                font-size: 20px;
                color: white;
                margin-bottom: 0.5rem;
                cursor: text;
            }

            p {
                text-transform: uppercase;
                color: rgb(155, 147, 147);
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 15px;
                font-family: Inter, sans-serif;
                overflow: auto;
                height: 5rem;
                cursor: text;

                &::-webkit-scrollbar {
                    width: 12px;
                }
    
                &::-webkit-scrollbar-track {
                    background-color: #000F18;
                }
    
                &::-webkit-scrollbar-thumb {
                    background-color: #fff;
                }
    
                &::-webkit-scrollbar-thumb:hover {
                    background-color: #9e9d9d;
                }
            }
        }

        .cardTopDestaques {

            .DestaquesImg {
                width: 90%;
                height: 90%;
                margin: 0 auto;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 1);
                    transform: scale(1.02);
                }
            }
        }

        .cardMiddleDestaques {
            display: flex;
            width: 90%;
            margin: 0 auto;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            p {
                color: white;
                font-size: 22px;
            }
        }

        .cardBottomDestaques {
            display: flex;
            width: 100%;
            align-items: center;
            margin-left: 1rem;
            padding: 5px;
            margin-top: 1rem;

            p {
                color: white;
                margin-right: 2.5rem;
            }

            .cardDiscountDestaques {
                color: white;
                background-color: #6289EC;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 4px;
                padding-bottom: 4px;
                border-radius: 5px;
            }

            .cardOldDestaques {
                color: gray;
                text-decoration: line-through;
            }
        }
    }
}

.carouselPrice {
    margin-top: 1.6rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 7px;

    @media screen and (max-width: 320px) {
        font-size: 14px;
    }

    @media screen and (max-width: 250px) {
        font-size: 12px;
    }

    .carouselPriceText {
        color: white;
    }

    .carouselPriceValue {
        color: white;
    }

    .carouselDiscount {
      display: flex;
      gap: 7px;

      .oldPrice {
        text-decoration: line-through;
        color: gray;
      }
    }
  }

  .carouselButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0.4rem;

    button {
      padding: 14px;
      border-radius: 5px;
      font-size: 16px;

      @media screen and (max-width: 320px) {
        font-size: 14px;
    }

    @media screen and (max-width: 250px) {
        font-size: 12px;
    }
    }

    .buttonPurchase {
      background-color: white;
      width: 90%;
      margin: 0 auto;
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.822);
      }
    }

    .buttonWishlist {
      display: flex;
      width: 90%;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-left: 0.6rem;
      color: white;
      transition: 0.45s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.459);
        transition: 0.45s;
      }

    }
  }