.carouselApp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  @media screen and (max-width: 1150px) {
    display: none;
  }

  .carousel__Box {
    width: 80%;
    height: auto;

    @media (max-width: 1562px) {
      margin: 0 16px;
      height: auto;
    }

    .carousel {
      position: relative;
      margin: 0 auto;

      .imageContainer {
        position: relative;
        transition: 0.3s;
        height: 800px;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;

        @media (max-width: 1562px) {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
          }

        .imagem_redonda {
          cursor: pointer;
          width: 100%;
          height: 100%;
        }

        .carousel__text {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          color: white;
          font-size: 2vw;
          text-align: left;
          padding: 20px;
          z-index: 1;

          .carouselTextTop {
            margin-top: 10rem;

            h1 {
              font-size: 20px;
              color: rgb(187, 187, 187);
              margin-bottom: 1.5rem;
              cursor: text;
            }

            p {
              font-size: 20px;
              width: 35%;
              margin-bottom: 2rem;
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              letter-spacing: 1.5px;
              cursor: text;

              @media screen and (max-width: 1400px) {
                font-size: 14px;
              }
            }
          }

          .carouselPurchaseTop {

            p {
              font-size: 20px;
              color: rgb(233, 233, 250);
              margin-bottom: 0.3rem;
              letter-spacing: 1.5px;
              width: 80%;
              cursor: text;

              @media screen and (max-width: 1400px) {
                font-size: 18px;
              }

            }

            .carouselPurchaseButton {

              button {
                margin-right: 1rem;
                font-size: 20px;
                border: none;
                cursor: pointer;
                padding: 16px;
                border-radius: 4px;

                @media screen and (max-width: 1400px) {
                  font-size: 14px;
                }

              }

              .carouselBuyNow {
                transition: 0.3s;
                background-color: white;
                color: black;
                opacity: 80%;

                &:hover {
                  opacity: 100%;
                }
              }

              .carouselWishlist {
                background: transparent;
                transition: 0.3s;
                color: white;

                &:hover {
                  background: rgb(255, 255, 255, 0.2);
                }
              }
            }
          }
        }
      }
    }

      .indicatorsImage {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.2rem;
        width: 80%;
        margin: 0 auto;
  
        .indicatorImage {
          cursor: pointer;
          transition: transform 0.2s ease;
          margin-top: 1rem;

          @media screen and (max-width: 1550px) {
            display: none;
          }
        }

        .indicatorButton {
          color: white;
          background-color: rgb(122, 122, 122);
          padding: 10px;
          border-radius: 50%;
          margin-top: 1.2rem;
          margin-bottom: 3rem;
          display: none;

          @media screen and (max-width: 1550px) {
            display: block;
          }

          &:hover {
            background-color: rgb(185, 185, 185);
          }
        }
  
        .activeIndicatorImage {
          opacity: 30%;
        }
      }
    }
  }
